{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="wrapper count-title text-center">
                        <strong class="text-uppercase">Dati completi</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dashboard-header section-padding">
        <div class="container-fluid">
            {% include 'results/complete-data-row.html' %}
        </div>
    </section>
{% endblock %}
{% block custom-scripts %}
    <script src="{% static "js/results/complete-data.js" %}"></script>
{% endblock %}