{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="wrapper count-title text-center">
                        <strong class="text-uppercase">Dati completi</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dashboard-header section-padding">
        <div class="container-fluid">
            <div class="row d-flex align-items-md-stretch">
                <div class="col col-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>Link alla pagina per la consultazione dei dati completi</h4>
                        </div>
                        <div class="card-body">
                            <div class="col text-center">
                                <button type="button" class="btn btn-primary"
                                        onclick="window.location='{% url 'results:complete-data' %}';">
                                    15000 Tweet
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="wrapper count-title text-center">
                    <strong class="text-uppercase">
                        Dati relativi solo ai primi 1000 tweet per alleggerire il caricamento della pagina
                    </strong>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="dashboard-counts section-padding">
        <div class="container-fluid">
            {% include 'results/complete-data-row.html' %}
        </div>
    </section>
{% endblock %}
{% block custom-scripts %}
    <script src="{% static "js/results/complete-data.js" %}"></script>
{% endblock %}