<div class="row d-flex align-items-md-stretch">
    <div class="col col-12">
        <div class="card">
            <div class="card-header text-center">
                <h4>Tabella per la pulizia del testo</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-2">#</th>
                                <th class="col-5">Tweet</th>
                                <th class="col-5">Text cleaned</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in tweets %}
                                <tr class="d-flex">
                                    <th class="col-2" scope="row">{{ item.index }}</th>
                                    <td class="col-5">{{ item.text }}</td>
                                    <td class="col-5">{{ item.text_cleaned }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-12">
        <div class="card">
            <div class="card-header text-center">
                <h4>Tabella per il confronto dei tokenizer</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-1">#</th>
                                <th class="col-3">Wordpunc Tokenizer</th>
                                <th class="col-3">Simple Tokenizer</th>
                                <th class="col-3">Tweet Tokenizer</th>
                                <th class="col-2">Stopwords Removal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in tweets %}
                                <tr class="d-flex">
                                    <th class="col-1" scope="row">{{ item.index }}</th>
                                    <td class="col-3">
                                        [{% for token in item.punc_tokens.all %}
                                            {% if forloop.last %}
                                                {{ token.token }}
                                            {% else %}
                                                {{ token.token }},
                                            {% endif %}
                                        {% endfor %}]
                                    </td>
                                    <td class="col-3">
                                        [{% for token in item.simple_tokens.all %}
                                            {% if forloop.last %}
                                                {{ token.token }}
                                            {% else %}
                                                {{ token.token }},
                                            {% endif %}
                                        {% endfor %}]
                                    </td>
                                    <td class="col-3">
                                        [{% for token in item.tweet_tokens.all %}
                                            {% if forloop.last %}
                                                {{ token.token }}
                                            {% else %}
                                                {{ token.token }},
                                            {% endif %}
                                        {% endfor %}]
                                    </td>
                                    <td class="col-2">
                                        [{% for token in item.stopword_tokens.all %}
                                            {% if forloop.last %}
                                                {{ token.token }}
                                            {% else %}
                                                {{ token.token }},
                                            {% endif %}
                                        {% endfor %}]
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-12">
        <div class="card">
            <div class="card-header text-center">
                <h4>Tabella per il confronto degli Stemmer</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-1">#</th>
                                <th class="col-3">Lancaster Stemmer</th>
                                <th class="col-3">Porter Stemmer</th>
                                <th class="col-3">Snowball Stemmer</th>
                                <th class="col-2">Lemmatizer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in tweets %}
                                <tr class="d-flex">
                                    <th class="col-1" scope="row">{{ item.index }}</th>
                                    <td class="col-3">
                                        [{% for token in item.lancaster_stems.all %}
                                            {% if forloop.last %}
                                                {{ token.token }}
                                            {% else %}
                                                {{ token.token }},
                                            {% endif %}
                                        {% endfor %}]
                                    </td>
                                    <td class="col-3">
                                        [{% for token in item.porter_stems.all %}
                                            {% if forloop.last %}
                                                {{ token.token }}
                                            {% else %}
                                                {{ token.token }},
                                            {% endif %}
                                        {% endfor %}]
                                    </td>
                                    <td class="col-3">
                                        [{% for token in item.snowball_stems.all %}
                                            {% if forloop.last %}
                                                {{ token.token }}
                                            {% else %}
                                                {{ token.token }},
                                            {% endif %}
                                        {% endfor %}]
                                    </td>
                                    <td class="col-2">
                                        [{% for token in item.lemmatizer_stems.all %}
                                            {% if forloop.last %}
                                                {{ token.token }}
                                            {% else %}
                                                {{ token.token }},
                                            {% endif %}
                                        {% endfor %}]
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-12">
        <div class="card">
            <div class="card-header text-center">
                <h4>Tabella per il confronto del sentiment</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-1">#</th>
                                <th class="col-5">Tweet</th>
                                <th class="col-1">Afinn</th>
                                <th class="col-2">Sentiment140</th>
                                <th class="col-3">Entities</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in tweets %}
                                <tr class="d-flex">
                                    <th class="col-1" scope="row">{{ item.index }}</th>
                                    <td class="col-5">{{ item.text }}</td>
                                    <td class="col-1">{{ item.afinn }}</td>
                                    <td class="col-2">{{ item.sentiment140 }}</td>
                                    <td class="col-3">
                                        [{% for entity in item.entities.all %}
                                            {% if forloop.last %}
                                                {{ entity.entity }}
                                            {% else %}
                                                {{ entity.entity }},
                                            {% endif %}
                                        {% endfor %}]
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>