<section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="wrapper count-title text-center">
                    <strong class="text-uppercase">Qual è il rapporto tra i pareri espressi nei tweet e i dati di vendita del film?</strong>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <div class="row d-flex align-items-md-stretch">
            <!-- Pie Chart-->
            <div class="col col-12 col-lg-3 my-auto">
                <div class="card project-progress">
                    <div class="card-header">
                        <h4 class="text-center">Risultati classificatore simil Sentiment140</h4>
                    </div>
                    <div class="pie-chart card-body">
                        <canvas data-labels="{{ pc_labels }}" data-data="{{ polarity }}"
                                data-background-color="#33b35a,#e66a35"
                                data-hover-background-color="#33b35a,#e66a35"
                                class="pieChart" width="300" height="300"> </canvas>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-8 offset-lg-1">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="">Dati riguardanti gli incassi del film</h4>
                    </div>
                    <div class="card-body">
                        <iframe id="income-iframe" class="w-100" src="https://www.boxofficemojo.com/release/rl3059975681/"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-md-stretch">
            <div class="col col-12 col-lg-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Tweet Positivi</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover no-order">
                                <thead>
                                    <tr class="d-flex">
                                        <th class="col-2">#</th>
                                        <th class="col-10">Tweet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in positives %}
                                        <tr class="d-flex">
                                            <th class="col-2" scope="row">{{ item.index }}</th>
                                            <td class="col-10">{{ item.text }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Tweet Negativi</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover no-order">
                                <thead>
                                    <tr class="d-flex">
                                        <th class="col-2">#</th>
                                        <th class="col-10">Tweet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in negatives %}
                                        <tr class="d-flex">
                                            <th class="col-2" scope="row">{{ item.index }}</th>
                                            <td class="col-10">{{ item.text }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>