{% load static %}
<section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="wrapper count-title text-center">
                    <strong class="text-uppercase">Quali sono le parole più rilevanti emerse?</strong>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <div class="row d-flex align-items-md-stretch">
            <div class="col col-12">
                <div class="card project-progress">
                    <div class="card-header text-center">
                        <h4>Wordcloud dei token</h4>
                    </div>
                    <div class="card-body">
                        <img alt="Wordcloud" class="img-fluid mCS_img_loaded rounded border" src="{% static "img/wordcloud.png" %}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-md-stretch">
            <div class="col col-12 col-lg-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Frequenze dei token consultabili</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover order-2-desc">
                                <thead>
                                    <tr class="d-flex">
                                        <th class="col-10">Token</th>
                                        <th class="col-2">Frequenza</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in tokens %}
                                        <tr class="d-flex">
                                            <td class="col-10">{{ item.token }}</td>
                                            <td class="col-2">{{ item.tweet_count }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-6">
                <div class="card">
                    <div class="card-header align-items-center text-center">
                        <h4>Istogramma dei token più frequenti</h4>
                    </div>
                    <div class="card-body">
                        <canvas class="barChart" data-labels="{{ bc_labels }}" data-data="{{ bc_data }}"
                                data-background-color="rgba(51, 179, 90, 0.6)"
                                data-border-color="rgba(51, 179, 90, 1)"></canvas>
                    </div>
                    <div class="card-header align-items-center text-center">
                        <h4>Istogramma dei token più frequenti (escluso il primo)</h4>
                    </div>
                    <div class="card-body">
                        <canvas class="barChart" data-labels="{{ bc_labels_ex_1 }}" data-data="{{ bc_data_ex_1 }}"
                                data-background-color="rgba(51, 179, 90, 0.6)"
                                data-border-color="rgba(51, 179, 90, 1)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>