{% load static %}
<section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="wrapper count-title text-center">
                    <strong class="text-uppercase">Quali personaggi e/o attori risultano non essere graditi?</strong>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <div class="row d-flex align-items-md-stretch">
            <div class="col col-12 col-lg-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Entità presenti nei tweet negativi</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover order-2-desc">
                                <thead>
                                    <tr class="d-flex">
                                        <th class="col-10">Entità</th>
                                        <th class="col-2">Frequenza</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in negative_people %}
                                        <tr class="d-flex">
                                            <td class="col-10" scope="row">{{ item.entity }}</td>
                                            <td class="col-2">{{ item.entity_count }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Entità presenti solamente nei tweet negativi</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover order-2-desc">
                                <thead>
                                    <tr class="d-flex">
                                        <th class="col-10">Entità</th>
                                        <th class="col-2">Frequenza</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in only_negative_people %}
                                        <tr class="d-flex">
                                            <td class="col-10" scope="row">{{ item.entity }}</td>
                                            <td class="col-2">{{ item.entity_count }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-md-stretch">
            <div class="col col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Dettagli entità</h4>
                    </div>
                    <div class="card-body">
                        <select id="neg_entity_select" class="browser-default custom-select">
                            <option selected value="-1" disabled>Seleziona un'opzione</option>
                            {% for item in negative_people_sorted %}
                                <option value="{{ item.id }}">{{ item.entity }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-md-stretch">
            <div class="col col-12 col-lg-6 my-auto">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Esempio di un tweet</h4>
                    </div>
                    <div id="neg_entity_tweet" class="card-body">
{#                    {{ temp | safe }}#}
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-6 my-auto">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Named-Entity Linking</h4>
                    </div>
                    <div class="box box-default card-body">
                        <pre id="neg_entity_nel"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>