/* your styles go here */
.side-navbar.shrink {
    width: 85px;
    text-align: center;
}

.card {
    margin-top: 30px;
}

#income-iframe {
    min-height: 500px;
}

h2 {
    font-size: 1.5rem!important;
}

div.filter-table-col {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

table.max-400 > tbody{
    display:block;
    height:400px;
    overflow:auto;
}
table.max-400 > thead, table.max-400 > tbody, table.max-400 > tr {
    /*display:table;*/
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

#spinner {
  display: block;
  position: fixed;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: calc( 50% - ( 32px / 2) ); /* where ... is the element's height */
  right: calc( 50% - ( 32px / 2) ); /* where ... is the element's width */
}

h3 {
    margin-bottom: 30px!important;
}

@media (max-width: 991px) {
    section.dashboard-counts {
        padding-bottom: 0;
    }
}

.hidden {
    display: none!important;
}

table.disp-tab > thead, table.disp-tab > tbody {
    display: table;
    width: 100%;
}