{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="wrapper count-title text-center">
                        <strong class="text-uppercase">Tool per l'estrazione delle informazioni da un testo</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dashboard-header section-padding">
        <div class="container-fluid">
            <div class="row d-flex align-items-md-stretch">
                <div class="col col-12">
                    <div class="card project-progress">
                        <div class="card-header">
                            <h4 class="text-center">Inserimento del testo</h4>
                        </div>
                        <form id="dynamic_tool" action="#">
                            <div class="form-row">
                                <div class="col-9 col-lg-6 offset-lg-2 form-group">
                                    <label for="text_tool"></label>
                                    <textarea class="form-control" id="text_tool" rows="4"></textarea>
                                </div>
                                <div class="col-1 form-group my-auto offset-1">
                                    <button type="submit" class="btn btn-primary mb-2">Elabora</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="results row d-flex align-items-md-stretch hidden">
                <div class="col col-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>Tabella per la pulizia del testo</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr class="d-flex">
                                            <th class="col-6">Tweet</th>
                                            <th class="col-6">Text cleaned</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="d-flex">
                                            <td id="text_text" class="col-6"></td>
                                            <td id="text_text_cleaned" class="col-6"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>Tabella per il confronto dei tokenizer</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover disp-tab">
                                    <thead>
                                        <tr class="d-flex">
                                            <th class="col-3">Wordpunc Tokenizer</th>
                                            <th class="col-3">Simple Tokenizer</th>
                                            <th class="col-3">Tweet Tokenizer</th>
                                            <th class="col-3">Stopwords Removal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="d-flex">
                                            <td id="text_punc_tokens" class="col-3"></td>
                                            <td id="text_simple_tokens" class="col-3"></td>
                                            <td id="text_tweet_tokens" class="col-3"></td>
                                            <td id="text_stopwords_tokens" class="col-3"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>Tabella per il confronto degli Stemmer</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover disp-tab">
                                    <thead>
                                        <tr class="d-flex">
                                            <th class="col-3">Lancaster Stemmer</th>
                                            <th class="col-3">Porter Stemmer</th>
                                            <th class="col-3">Snowball Stemmer</th>
                                            <th class="col-3">Lemmatizer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="d-flex">
                                            <td id="text_lancaster_stems" class="col-3"></td>
                                            <td id="text_porter_stems" class="col-3"></td>
                                            <td id="text_snowball_stems" class="col-3"></td>
                                            <td id="text_lemmatizer_stems" class="col-3"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>Tabella per il confronto del sentiment</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr class="d-flex">
                                            <th class="col-5">Tweet</th>
                                            <th class="col-2">Afinn</th>
                                            <th class="col-2">Sentiment140</th>
                                            <th class="col-3">Entities</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="d-flex">
                                            <td id="text_text_lt" class="col-5"></td>
                                            <td id="text_afinn" class="col-2"></td>
                                            <td id="text_sentiment140" class="col-2"></td>
                                            <td id="text_entities" class="col-3"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="results row d-flex align-items-md-stretch hidden">
                <div class="col col-12 col-lg-6 my-auto">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>Testo taggato</h4>
                        </div>
                        <div id="text_entity_tweet" class="card-body">
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-lg-6 my-auto">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>Named-Entity Linking</h4>
                        </div>
                        <div class="box box-default card-body">
                            <pre id="text_entity_nel"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block custom-scripts %}
    <script src="{% static "js/tools/index.js" %}"></script>
{% endblock %}